<f:layout name="MainLayout" />

<f:section name="MainSection">
    <div id="itstagcloud" style="width: 500px; height: 500px;"></div>
        <script>

            $( document ).ready(function() {

                var words = [
                    <f:for each="{filteroptions}" as="filteroption">
                        {text: '<f:format.htmlspecialchars>{filteroption.title}</f:format.htmlspecialchars>',
                            weight: '<f:format.htmlspecialchars>{filteroption.gewichtung}</f:format.htmlspecialchars>',
                            link: '<f:format.raw>/index.php?id={resultPage}&tx_kesearch_pi1[filter][{filteroption.filter}]={filteroption.title}</f:format.raw>'},
                    </f:for>
                ];

                $('#itstagcloud').jQCloud(words);
            });
        </script>

</f:section>
